.header .col-12 {
  background: #395a8b;
  color: #fff;
  text-align: center;
  padding: .25rem .5rem;
  font-weight: 600;
  letter-spacing: .4px;
}

#Logo { height: 40px; }

.card img {
  object-fit: cover;
}
