/*
-- Estilos de register.css --  

Header h1*/
.header{
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
}
/* Logo navbar*/
#Logo{
    width: 50px;
    height: 50px;
}
/*Items del navbar1*/
.nav-item{
    margin-inline: 30px;
    
}
.error{
    color: red;
    padding-left: 12px;
    font-size: small;
}